/*Estilo padrão para todas as páginas*/
body {
    background-color: #041218;
    color: #f0f0f0;
}

/*Estilo da nav-bar*/
.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgb(112 25 25) !important;
}

.filme-title {
    margin-left: 15px;
}

/* Estilos para o contêiner dos filmes */
.container-filmes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 15px;
}
/* Estilos para o contêiner do filme */
.container-filme {
    display: flex;
    gap: 20px; 
    padding: 20px;
}
/* Estilos para a imagem do filme */
.image-button-filmes {
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
}

.image-button-filmes:hover {
    transform: scale(1.05); 
}

/* Estilos para as informações do filme */
.info-filme {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.sinopse-filme {
    font-size : 15px;
    margin-top: 13px;

}
/* Estilos para as informações de span */
.info-span {
    display: flex;
    gap: 10px; /* Espaçamento entre os spans */
}

/* Estilos para o contêiner de reserva */
.container-reserva {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    padding: 20px;
}

/* Estilos para o nome do cliente */
.reserva-nome {
    margin-left: 17px;
    margin-right: 17px;
    display: flex;
    gap: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: #21262D;
    border-radius: 10px;    
}
.txtbox-nome {
    width: 270px;
    height: 30px;
    font-size: 16px;
    border-radius: 7px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-left: 4px;
}

/* Estilos para o horário de reserva */
.horario-label {
    font-size: 20px;
    margin-bottom: 10px;
}
.reserva-horario {
    margin-bottom: 3px;
    padding: 10px;
    background-color: #21262D;
    border-radius: 10px;
}
.dropdown-horario {
    padding: 5px;
    border-radius: 7px; /* Arredonda os cantos */
    border: 1px solid #ccc; /* Define uma borda sutil */
    width: 100%;
    height: 30px;
    margin-left: 10px;
}
/* Estilos para os assentos */
.reserva-assentos {
    background-color: #21262D;
    border-radius: 10px;
    padding: 10px;
}
.assentos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
    transform: scale(1.2);
}
 /* Estilo para o checkbox e o texto */
  .assentos .checkbox-container {
     display: block;
     align-items: center; /* Centraliza o texto horizontalmente com o checkbox */
     margin-right: 10px; /* Espaçamento entre os checkboxes */
}
/* Estilo para o checkbox */
   .assentos input[type="checkbox"] {
     width: 30px;
     height: 22px;
     cursor: pointer;
     margin-left: 19px;
     margin-right: 1px;   
 }
  
/* Estilos para o botão de finalizar compra */
.container-btn {
    display: flex;
    justify-content: center; 
}

.btn-finalizar-compra {
    display: inline-block; 
    padding: 8px 16px; 
    background-color: green; 
    color: white;
    border: none; 
    border-radius: 18px; 
    cursor: pointer; 
    text-align: center; 
}

.btn-finalizar-compra:hover {
    background-color: darkgreen; 
}

/* Estilo para o painel de detalhes da reserva */
.container-detalhes-reserva {
    width: 80%;
    max-width: 600px;
    margin: 0 auto; 
    padding: 10px;
    border: 1px 2px white;
    border-radius: 5px;
    background-color: #21262D;
    text-align: center; 
}

/* Estilo para o título da reserva */
.detalhes-reserva-titulo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Estilo para as seções individuais de reserva */
.detalhes-reserva .reserva {
    margin-bottom: 10px;
    text-align: left; 
}

/* Estilo para o título do painel */
.detalhes-titulo {
    margin-bottom: 15px;
}
/* Estilo para as mensagens de erro */
.mensagem-erro .mensagem-erro-cancelar {
    color: red;
}
/*Estilo para botão de confirmação de reserva*/
.btn-cancelar-reserva {
    display: inline-block;
    padding: 8px 16px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    text-align: center;
}
.btn-menu-inicial {
    display: inline-block;
    padding: 8px 16px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    text-align: center;
}